# Les ligne commençant par '#' sont des commentaires.

Exercices/IV. Vins/.ipynb_checkpoints/
Exercices/IV. Vins_2/.ipynb_checkpoints/
Projet_3/.ipynb_checkpoints/
Projet_4/.ipynb_checkpoints/
Projet_4/pkl
Projet_5/.ipynb_checkpoints/
Projet_6/pkl
Projet_6/.ipynb_checkpoints/
